body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight:900;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 600;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 600;
}

p {
  color: #8f8f8f
}

.container-fluid {
  padding: 3% 15% 7%;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

/* Navigation bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Download bottons */

.download_btn {
  margin: 5% 3% 5% 0;
}

/* Title image */

.right-col {
  position: relative;
}

.title_image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */
#features {
  padding: 7% 5%;
  background-color: #fff;
  position: relative;
}
.feature_icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature_icon:hover {
  color: #ff4c68
}
.feature_col {
  text-align: center;
  padding: 5%;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonials-img {
  width: 10%;
  border-radius:100%;
  margin: 20px;
}

.carousel-item {
    padding: 7% 10%;
}

#press {
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 20px;
}


/* Pricing */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}


/* Call to action */

#cta {
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
}

.slogen {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight:900;
}

/* footer */

.contact {
  padding: 5px 0;
}

.contact-icon {
  margin: 20px 10px;
}
.contact-icon:hover {
  color: #000;

}


#footer {
  text-align: center;
  background-color: #fff;
  padding: 7% 15%;
}

@media (max-width: 1028px){
  .title_image {
    transform: rotate(0deg);
    position: static;
  }

  #title {
    text-align:center;
  }
}
